.ownedPhotos {
  width: 100%;
  max-height: 500px;
  background-color: var(--color-background);
  position: relative;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      color: var(--color-dark);
    }

    a {
      color: var(--color-secondary);
      font-size: 1rem;
    }
  }

  .ListImages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;

    img {
      width: 100%;
      cursor: pointer;
      aspect-ratio: 1;
      height: 100%;
      &:nth-child(1) {
        border-radius: 10px 0 0 0;
      }
      &:nth-child(3) {
        border-radius: 0 10px 0 0;
      }
      &:nth-child(7) {
        border-radius: 0 0 0 10px;
      }
      &:nth-child(9) {
        border-radius: 0 0 10px 0;
      }

      &:hover {
        transform: scale(1.005);
      }
    }
  }
}