#main-header {
  width: 100%;
  height: 50px;
  background-color: var(--color-background);
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  .menu-button {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      width: 30px;
      height: 30px;
      background-color: transparent;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: var(--color-dark);
    }

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 0 5px;
    }
  }

  .menuAction {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 50px;
    .avatar {
      display: flex;
      justify-content: end;
      align-items: center;
      cursor: pointer;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      svg {
        font-size: 1.5rem;
        color: var(--color-dark);
      }
    }
  }
  .logout {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
    cursor: pointer;
    padding-right: 20px;

    a {
      color: var(--color-dark);;
      font-size: 1.1rem;

      svg {
        margin-right: 10px;
      }
    }
  }
}